
.jumbotron{
  height: 100vh;
  background-color: #eaf3fc;
  /*background: linear-gradient(red, white, blue);*/
  border-radius: 0px;
  border: 4px solid black;
  text-align: center;
}

#black {
  border-color: black;
}

#startGame1{
  display: block;
  margin: auto;
  border: 1px solid black;
}


#startGame1:hover{
  cursor: pointer;
  background: radial-gradient(white, lightgray, darkgray);
}
#startGame1:click{
  box-shadow: 10px 15px #888888;
}

#startGame2:hover{
  cursor: pointer;
  background-color: red;
}

#startGame2 {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

#chooseObama{
  cursor: pointer;
}

#chooseTrump{
  cursor: pointer;
}

#pickContainer {
  text-align: center;
  margin-top: 200px;
}

#pickContainer h1 {
  margin-top: 25px;
}

#titleImage {
  max-width: 60%;
  /*position: absolute;
  z-index: 1;*/
  margin-top: 80px;

}

#pickContainer{
  border: 1px solid black;
  background-color: white;
}

body {
  background: linear-gradient(red, white, blue);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
}

.hidden {
  display: none;
}

#squaresRow {
  border: 1px solid black;
  background-color: #cbcfd6;
  min-width: 1000px;
}

/*.row .col-md-3 {
  text-align: center;
}*/

.row {
  text-align: center;
}

#squaresRow .col-md-4 {
  border: 1px solid black;
  padding: 20px;
  height:350px;
  width:260px;
  box-shadow: inset 0 0 10px black;
}


.pointGain {
  background-color: green !important;
}

.pointLose {
  background-color: red !important;
}

/*#scoreboard{
  border: 1px solid black;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}*/
/*
#buffs .col-md-4 {
  border: none;
  padding: 20px;
  height: 50px;
  box-shadow: none;
  line-height: 25px;
}*/

/*#scoreboard > * {
  margin: 0px;
}*/

#scoreBar {
  position: relative;
  width: 1000px;
  height: 10px;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#scoreBar img {
  position: absolute;
  top: -10px;
}

#heroBorder {
  border: solid;
  padding: 50px;
  margin-top: 50px;
  margin-left:8px;
  margin-right: 8px;
}

#powers {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  border: 1px solid black;
  box-shadow: inset 0 0 10px black;
  padding-top: 10px;
}



.obama, .trump {
  cursor: url("../img/cursor-yellow.png"), auto;
}

.obama:click, .trump:click {
  cursor: url("../img/cursor-yellow2.png"), auto;
}

.redButton, .random {
  cursor: pointer;
}
