{
  border: .5px dotted red;
}


.jumbotron{
  height: 100vh;
  background: linear-gradient(red, white, blue);
  border-radius: 0px;
  border: 4px solid black;
  text-align: center;
}

hr {
  border-color: white;
}

#startGame1{
  display: block;
  margin: auto;
}


#startGame1:hover{
  cursor: pointer;
  background: radial-gradient(white, lightgray, darkgray);
}
#startGame1:click{
  box-shadow: 10px 15px #888888;
}

#startGame2:hover{
  cursor: pointer;
  background-color: red;
}

#startGame2 {
  display: block;
  margin: auto;
}

#chooseObama{
  cursor: pointer;
}

#chooseTrump{
  cursor: pointer;
}

#pickContainer {
  text-align: center;
}

#titleImage {
  max-width: 60%;
  /*position: absolute;
  z-index: 1;*/
  margin-top: 80px;

}





body {
  background: linear-gradient(red, white, blue);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
}



.hidden {
  display: none;
}

#squaresRow {
  border: 1px solid black;
  background-color: #cbcfd6;
  min-width: 1000px;
}
.row .col-md-4 {
  border: 1px solid black;
  padding: 20px;
  height:350px;
  width:260px;
  box-shadow: inset 0 0 10px black;
}

.pointGain {
  background-color: green;
}

.pointLose {
  background-color: red;
}

#scoreBar {
  position: relative;
  width: 1000px;
  height: 10px;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#scoreBar img {
  position: absolute;
  top: -10px;
}
